@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Montserrat:400,400i');

* {
	font-family: Merriweather,Montserrat;
}

div#welcome {
	height: 100vh;
	background: black;
}
 
div#projects {
	height: 100vh;
	background: yellow;
} 